<%- include("partials/header.ejs") %> 

<div class="home-container main-container" id="homeContainer">
<% if(posts.length > 0) { %>
<% posts.forEach(post => { %>

  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= post.heading %></h5>
      <p class="card-text">
        <%= post.description %>
      </p>
      <div class="buttons">
        <form action="/edit/<%= post.id %>" method="get">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>

        <button
          type="button"
          class="btn btn-danger btn-delete"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
          data-id = <%= post.id %>
        >
          Delete
        </button>
      </div>
    </div>
  </div>

<% }); %> 
<% } else{ %>
    <h1 class="no-post heading" id="noPost">No Posts to display</h1>
<% } %>
</div>
<%- include("partials/footer.ejs") %>
